.category-preview-container {

  .preview-wrapper {
    display: flex;
  }
  
  .preview-container {
    width: 100%;
    position: relative;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }

  .preview-control-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    // border: 1px solid black;
    left: 20px;
    cursor: pointer;
  }
  }

  .preview-control-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    // border: 1px solid black;    
    right: 20px;
    cursor: pointer;
  }